<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<div class="jumbotron text-center">
  <h1>Angular Example</h1>
</div>

<div class="container">
  <div class="row">
      <form class = "form-inline" [formGroup]="form"  >
    <div class="col-md-10" *ngFor="let cus of form.get('products').controls; let i=index">
     
        <div [formGroupName]="i">
        <div class="form-group" >
          <label for="email">Name:</label>
          <input type="text" [formControlName]="name" class="form-control" id="email">
        </div>
        <div class="form-group">
          <label for="pwd">Description:</label>
          <input type="text" [formControlName]="description" class="form-control" id="pwd">
        </div>
        <span (click)="removeProducts(i)" class="glyphicon glyphicon-minus" style="border-radius: 50%;
        background: red;
        color: white;
        padding: 7px;cursor: pointer;">
      </span>
     
    </div>

      
    </div>
        <button type="submit" class="btn btn-default ">Submit</button>
        <button type="button" (click)="addProducts()" class="btn btn-default ">Add</button>
  </form>
  </div>
</div>